* {
  margin: 0;
  padding: 0;
}
@keyframes autopopup {
  from {
    opacity: 0;
    margin-top: -200px;
  }
  to {
    opacity: 1;
  }
}
#close {
  background-color: rgba(64, 68, 65, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: autopopup 0s;
}
#close:target {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  opacity: 0;
  visibility: hidden;
}


.mytable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.mytable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.mytable th,
.mytable td {
    padding: 12px 15px;
}

.mytable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.mytable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.mytable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.mytable tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}







.hiden {
  display: none;
  align-content: center;
}

.hiden h4 {
  padding-top: 0%;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: antiquewhite;
}

@media screen and (orientation:portrait) {
  .content {
    display: none;
  }
  body {
    background-image: none;
    background-color: black;
  }
  .hiden {
    display: contents;
  }
}
